@mixin input-switch-input($class: null) {
	#{$class} input[type='checkbox'] {
		@content;
	}
}

@mixin input-switch-focus($class: null) {
	@include input-switch-input($class) {
		&:focus + label {
			@content;
		}
	}
}
@mixin input-switch-hover($class: null) {
	@include input-switch-input($class) {
		&:hover + label {
			@content;
		}
	}
}

@mixin input-switch-body($class: null) {
	@include input-switch-input($class) {
		& + label::before {
			@content;
		}
	}
}

@mixin input-switch-label($class: null) {
	@include input-switch-input($class) {
		& + label {
			@content;
		}
	}
}

@mixin input-switch-label-checked($class: null) {
	@include input-switch-input($class) {
		&:checked + label {
			@content;
		}
	}
}
@mixin input-switch-body-checked($class: null) {
	@include input-switch-input($class) {
		&:checked + label::before {
			@content;
		}
	}
}
@mixin input-switch-check-checked($class: null) {
	@include input-switch-input($class) {
		&:checked + label::after {
			@content;
		}
	}
}

@mixin input-switch-check($class: null) {
	@include input-switch-input($class) {
		& + label::after {
			@content;
		}
	}
}
@mixin input-switch-body-checked($class: null) {
	@include input-switch-input($class) {
		&:checked + label::before {
			@content;
		}
	}
}
@mixin input-switch-check-checked($class: null) {
	@include input-switch-input($class) {
		&:checked + label::after {
			@content;
		}
	}
}

$input-switch-label-padding: var(--input-switch-label-padding, 1em) !default;

$input-switch-body-width: var(--input-switch-body-width, 1.5rem) !default;
$input-switch-body-height: var(--input-switch-body-height, 1rem) !default;
$input-switch-body-border-radius: var(
	--input-switch-body-height,
	calc(#{$input-switch-body-height} / 2)
) !default;
$input-switch-body-background: var(--input-switch-body-background, white) !default;
$input-switch-body-border: var(
	--input-switch-body-border,
	1px solid currentColor
) !default;
$input-switch-body-shadow:  var(--input-switch-body-shadow, none) !default;


$input-switch-check-width: var(--input-switch-check-width, .5rem) !default;
$input-switch-check-height: var(--input-switch-check-height, .5rem) !default;
$input-switch-check-border-radius: var(
	--input-switch-check-height,
	calc(#{$input-switch-check-height} / 2)
) !default;

$input-switch-check-top: var(
	--input-switch-check-top,
	calc(50% - ($input-switch-check-height / 2))
) !default;
$input-switch-check-background: var(--input-switch-check-background, black) !default;
$input-switch-check-background-false: var(--input-switch-check-background-false,rgba(0,0,0,0.25)) !default;
$input-switch-check-border: var(--input-switch-check-border, 0) !default;
$input-switch-check-shadow: var(--input-switch-check-shadow, none) !default;
$input-switch-check-opacity-false:  var(--input-switch-check-opacity-false, 0.25) !default;
$input-switch-check-opacity-true:  var(--input-switch-check-opacity-true, 1) !default;

@mixin input-switch($class: null) {
	// Hide the Input
	@include input-switch-input($class) {
		position: absolute;
		width: 0;
		height: 0;
		clip-path: inset(100% 100% 100% 100%);
		opacity: 0;
	}

	@include input-switch-label($class) {
		position: relative;
		display: flex;
		padding: $input-switch-label-padding;
		line-height: $input-switch-body-height;
		padding-left: calc(#{$input-switch-body-width} + (#{$input-switch-label-padding} * 2));
	}

	@include input-switch-body($class) {
		content: '';
		position: absolute;
		left: $input-switch-label-padding;
		display: block;
		width: $input-switch-body-width;
		height: $input-switch-body-height;

		box-shadow: $input-switch-body-shadow;
		box-sizing: border-box;
		border: $input-switch-body-border;
		border-radius: $input-switch-body-border-radius;
		background-color: $input-switch-body-background;
		transform: rotate(0deg);
		transition: $base-transition $base-cubic-bezier;
	}

	@include input-switch-check($class) {
		content: '';
		position: absolute;
		top: 50%;
		left: calc(((#{$input-switch-body-height} - #{$input-switch-check-height}) / 2) + #{$input-switch-label-padding});

		display: block;
		width: $input-switch-check-width;
		height: $input-switch-check-height;
		box-shadow: $input-switch-check-shadow;

		border-radius: $input-switch-check-border-radius;
		background-color: $input-switch-check-background-false;
		transform: scale(1);
		
		opacity: $input-switch-check-opacity-false;
		transition: $base-transition $base-cubic-bezier;
		margin-top: calc((#{$input-switch-check-height} / 2) * -1);
	}

	@include input-switch-label-checked($class) {
		color: color(Black);
		opacity: 1;
	}
	@include input-switch-check-checked($class) {
		background-color: $input-switch-check-background;
		transform: translateX(calc(#{$input-switch-body-width} - #{$input-switch-check-width} - (#{  $input-switch-body-height} - #{$input-switch-check-height})));
		opacity: $input-switch-check-opacity-true;
	}
}
@mixin input-switch-container($class: '.input-switch') {
	@include input-switch-input($class){
		position: relative;	
	
		@content;
	}	
	@include input-switch-label($class) {
		display: flex;
	}
	@include input-switch($class);
}
