@mixin pattern-houndstooth {
	background: linear-gradient(
				-45deg,
				#{$pattern-color-secondary} 25%,
				transparent 25%,
				transparent 75%,
				#{$pattern-color-primary} 75%,
				#{$pattern-color-primary}
			)
			0 0,
		linear-gradient(
				-45deg,
				#{$pattern-color-primary} 25%,
				transparent 25%,
				transparent 75%,
				#{$pattern-color-secondary} 75%,
				#{$pattern-color-secondary}
			)
			calc(#{$pattern-size} / 2) calc(#{$pattern-size} / 2),
		linear-gradient(
				45deg,
				#{$pattern-color-primary} 17%,
				transparent 17%,
				transparent 25%,
				#{$pattern-color-primary} 25%,
				#{$pattern-color-primary} 36%,
				transparent 36%,
				transparent 64%,
				#{$pattern-color-primary} 64%,
				#{$pattern-color-primary} 75%,
				transparent 75%,
				transparent 83%,
				#{$pattern-color-primary} 83%
			)
			calc(#{$pattern-size} / 2)
			calc(#{$pattern-size} / 2);
	background-color: #{$pattern-color-secondary};
	background-size: #{$pattern-size} #{$pattern-size};
}
