%#{$base-prefix}p {
	@if $typography-p-font-family != $typography-fonts-system {
		font-family: $typography-p-font-family;
	}
	max-width: $typography-p-max-width;
	font-weight: $typography-p-font-weight;
	line-height: $typography-p-line-height;
	letter-spacing: $typography-p-letter-spacing;
	text-transform: $typography-p-text-transform;

	@if unit($typography-p-font-size) == 'vw' {
		font-size: $typography-p-font-size-value;
	} @else {
		font-size: grid($typography-p-font-size-value);
		@include min-(
			'font-size',
			$typography-p-font-size-value,
			$typography-p-font-size-min
		);
		@include max-(
			'font-size',
			$typography-p-font-size-value,
			$typography-p-font-size-max
		);
	}
}
